body{
    background-color: rgb(28, 52, 71);
}
h1{
    color: azure;
}
h2{
    color: #f1c40f
}
.dias li{
    color: azure;
}
h3 {
    border: black solid;background-color: #f1c40f ;
}
.segunda{
    color: azure;
}
.red{
    color: #e74c3c;
}
.terca{
    color: azure;
}
.quarta{
    color: azure;
}