.principal{
    margin: 0 auto;
    background-color: #fff1e6;
    width: 50%;
    padding: 10px;
    
}
.post h1{
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}
.data h2{
    font-family: "Roboto Condensed", sans-serif;
    color: #0077b6;
    font-size: 15px;
}
.conteudo p{
    font-family: "Raleway", sans-serif;
    
}
